{% extends "quiz/base.html" %}
{% block content %}
    <h2>Players</h2>
    <div class="content-section">
        <p>This information is taken to contact you in case you have won the grand prize.</p>
        <p>You can add upto 2 players</p>
    </div>
    {% for player in players %}
        <div class="media-body mb-4 mt-4 d-flex bd-highlight border justify-content-between">
            <div class="p-3 bd-highlight">
                <h4>{{ player.name }}</h4>
                <div> ID : {{ player.institute_id }}</div>
                <div> Contact : {{ player.contact }}</div>
            </div>
            <div class="p-3 bd-highlight d-flex flex-column">
                <div class="p-2 bd-highlight d-flex">
                    <a href="{% url 'player-update' player.pk %}">
                        <button class="btn btn-outline-info">
                            Update
                        </button>
                    </a>
                </div>
                <div class="p-2 bd-highlight d-flex">
                    <a href="{% url 'player-delete' player.pk %}">
                        <button class="btn btn-outline-danger">
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if players|length < 2%}
        <a href="{% url 'player-create' %}">
            <button class="btn btn-outline-primary">
                New
            </button>
        </a>
    {% else %}
        <a href="{% url 'home' %}">
            <button class="btn btn-outline-primary">
                Home
            </button>
        </a>
    {% endif%}
{% endblock content %}